# Ignore all
**

!.gitgnore

# For dev container
!/.devcontainer/shellrc.sh

!/Dockerfile
!/certificates
!/scripts
!/start.sh
!/docker
!/docker-compose
!/docker_entrypoint.sh
!/helm
!/k8s
!/dkd
!/tmp/.gitkeep
