[submodule "cloud-secret-manager"]
	path = cloud-secret-manager
	url = https://github.com/nmarghetti/cloud-secret-manager.git
[submodule "scripts/utils"]
	path = scripts/utils
	url = https://github.com/nmarghetti/shell-utils.git
[submodule "helm"]
	path = helm
	url = https://github.com/nmarghetti/generic-helm.git
